/*  Task */
.task-lane {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height:600px;
    background-color: lightgray;
  }
  
  .task-phase {
    min-width: 300px;
    display:flex;
    flex-direction: column;
    background-color:snow;
    margin: 5px;
  }

  .task-phase-title {
    padding: 4px;
  }
  
  .task-list{
    list-style-type: none;
    padding-left: 10px;
    width: 80%;
    padding-top: 10px;
    
  }
  
  .task-item {
    display: flex;
    flex-direction: column;
    margin:5px;
    border: 1px solid lightgray;
    background-color: white;
  }
  
  .task-header {
    background-color: #ddd;
    margin: 0;
    padding: 4px;
  }
  
  .task-content {
    padding:4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .task-content span.phase {
    margin-right: 10px;
  }
  .task-buttons {
    display:flex;
    padding-left: 4px;
    padding-right:4px;
    padding-top: 40px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .task-completed {
    background-color:lightgreen;
  }
  
  