* {
  font-family: "arial","Helvetica", sans-serif;;
}
h1, h2, h3,h4 {
  padding: 0;
  margin: 0;
}

hr {
  border: 0;
  border-bottom: 4px solid #FFB6C1;
}

body {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.project-container {
  display: flex;
}

.app-header {
  background: #ddd;
  padding:0.3em;
}

.app-title{
  font-size: 0.8em;
}



.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects {
  flex: 1; 
  display: flex;
  flex-wrap: wrap;
}

.project-form{
  height: 100vh;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  align-items:left;
  padding: 10px;
}

.project-form div > label {
  display: inline-block;
  width: 60px;
}
.project-form div {
  padding: 10px;
}

.project-title {
  padding-left: 5px;
}

.project-item {
  box-sizing: border-box;
  width: 20em;
  display: flex;
  flex-direction: column;
  padding-bottom:5px;
  margin:5px;
  border: 1px solid #ddd;
  border-radius: 0.3em 0.3em 0 0;
  position: relative;  
}

.project-header {
  background-color: #1E9DF4;
  color: white;
  font-weight: 700;
  border-radius: 0.3em 0.3em 0 0;
}

.project-content {
  padding:0.3em;
  display: flex;
}

.project-content span.phase {
  margin-right: 10px;
}
.project-buttons {
  display:flex;
  padding-top: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-completed {
  background-color:lightgreen;
}

