* {
  font-family: "arial","Helvetica", sans-serif;;
}
h1, h2, h3,h4 {
  padding: 0;
  margin: 0;
}

hr {
  border: 0;
  border-bottom: 4px solid #FFB6C1;
  
}

.project-form{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items:left;
  padding: 10px;
}
.project-form div > label {
  display: inline-block;
  width: 60px;
}
.project-form div > input {
  
}
.project-form div {
  padding: 10px;
}

.project-title {
  padding-left: 5px;
}

.project-lane {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-phase {
  display:flex;
  flex-direction: column;
  background-color: lightblue;
  margin: 5px;
}

.project-list{
  list-style-type: none;
  padding-left: 10px;
  width: 80%;
  padding-top: 10px;
  
}

.project-item {
  width: 20em;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin:5px;
  border: 1px solid;
}

.project-header {
  padding:0.2em;
  background-color: #ddd;
}

.project-content {
  padding:0.3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-content span.phase {
  margin-right: 10px;
}
.project-buttons {
  display:flex;
  padding-top: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-completed {
  background-color:lightgreen;
}

/*  Task */
.task-lane {
  display: flex;
  flex-direction: row;
  min-height:600px;
}

.task-phase {
  display:flex;
  flex-direction: column;
  background-color: lightblue;
  margin: 5px;
}

.task-list{
  list-style-type: none;
  padding-left: 10px;
  width: 80%;
  padding-top: 10px;
  
}

.task-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin:5px;
  border: 1px solid;
}

.task-header {
  padding:0.2em;
  background-color: #ddd;
}

.task-content {
  padding:0.3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.task-content span.phase {
  margin-right: 10px;
}
.task-buttons {
  display:flex;
  padding-top: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.task-completed {
  background-color:lightgreen;
}

